# --- Front ---
frontend/node_modules/
frontend/dist/
frontend/.env*
frontend/.vite/

# --- Back ---
backend/api/vendor/
backend/api/var/
backend/api/.env.local
backend/api/.env.*.local

# --- OS / IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Logs ---
*.log