-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: ltnya0pnki2ck9w8.chr7pe7iynqr.eu-west-1.rds.amazonaws.com    Database: r0gtoapeyoutj6hr
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
INSERT INTO `doctrine_migration_versions` VALUES ('DoctrineMigrations\\Version20260222135531','2026-03-02 20:43:57',2898),('DoctrineMigrations\\Version20260310101148','2026-03-10 10:23:30',2115);
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation`
--

DROP TABLE IF EXISTS `reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reservation` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nb_places` smallint NOT NULL,
  `statut` varchar(30) NOT NULL,
  `date_creation` datetime NOT NULL,
  `trajet_id` int NOT NULL,
  `passager_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_42C84955D12A823` (`trajet_id`),
  KEY `IDX_42C8495571A51189` (`passager_id`),
  CONSTRAINT `FK_42C8495571A51189` FOREIGN KEY (`passager_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_42C84955D12A823` FOREIGN KEY (`trajet_id`) REFERENCES `trajet` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation`
--

LOCK TABLES `reservation` WRITE;
/*!40000 ALTER TABLE `reservation` DISABLE KEYS */;
INSERT INTO `reservation` VALUES (1,1,'CONFIRME','2026-03-01 20:44:42',1,8),(2,2,'CONFIRME','2026-03-02 18:44:42',2,9),(3,1,'EN_ATTENTE','2026-03-02 20:34:42',3,10),(4,1,'CONFIRME','2026-03-10 10:31:31',3,5),(5,1,'CONFIRME','2026-03-10 16:56:26',4,8),(6,1,'CONFIRME','2026-03-10 18:28:18',4,8),(7,1,'CONFIRME','2026-03-10 18:39:15',6,10),(8,1,'CONFIRME','2026-03-10 18:55:55',7,11),(9,1,'CONFIRMEE','2026-03-10 21:53:36',1,7),(10,1,'CONFIRMEE','2026-03-10 21:53:54',1,7);
/*!40000 ALTER TABLE `reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `trajet`
--

DROP TABLE IF EXISTS `trajet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `trajet` (
  `id` int NOT NULL AUTO_INCREMENT,
  `depart_ville` varchar(255) NOT NULL,
  `arrivee_ville` varchar(255) NOT NULL,
  `date_depart` datetime NOT NULL,
  `prix_par_place` int NOT NULL,
  `places_total` smallint NOT NULL,
  `places_restantes` smallint NOT NULL,
  `statut` varchar(30) NOT NULL,
  `conducteur_id` int NOT NULL,
  `vehicule_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_2B5BA98CF16F4AC6` (`conducteur_id`),
  KEY `IDX_2B5BA98C4A4A3511` (`vehicule_id`),
  CONSTRAINT `FK_2B5BA98C4A4A3511` FOREIGN KEY (`vehicule_id`) REFERENCES `vehicule` (`id`),
  CONSTRAINT `FK_2B5BA98CF16F4AC6` FOREIGN KEY (`conducteur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `trajet`
--

LOCK TABLES `trajet` WRITE;
/*!40000 ALTER TABLE `trajet` DISABLE KEYS */;
/*!40000 ALTER TABLE `trajet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_credit`
--

DROP TABLE IF EXISTS `transaction_credit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transaction_credit` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type_operation` varchar(20) NOT NULL,
  `montant` int NOT NULL,
  `motif` varchar(50) NOT NULL,
  `date_creation` datetime NOT NULL,
  `utilisateur_id` int NOT NULL,
  `reservation_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_6ABC1CBEFB88E14F` (`utilisateur_id`),
  KEY `IDX_6ABC1CBEB83297E7` (`reservation_id`),
  CONSTRAINT `FK_6ABC1CBEB83297E7` FOREIGN KEY (`reservation_id`) REFERENCES `reservation` (`id`),
  CONSTRAINT `FK_6ABC1CBEFB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_credit`
--

LOCK TABLES `transaction_credit` WRITE;
/*!40000 ALTER TABLE `transaction_credit` DISABLE KEYS */;
/*!40000 ALTER TABLE `transaction_credit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `utilisateur` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(80) NOT NULL,
  `prenom` varchar(80) NOT NULL,
  `email` varchar(180) NOT NULL,
  `mot_de_passe_hash` varchar(255) NOT NULL,
  `role` varchar(20) NOT NULL,
  `date_creation` datetime NOT NULL,
  `solde_credits` int NOT NULL,
  `is_suspended` tinyint NOT NULL DEFAULT '0',
  `avatar` varchar(100) NOT NULL DEFAULT 'passager.png',
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_1D1C63B3E7927C74` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicule`
--

DROP TABLE IF EXISTS `vehicule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicule` (
  `id` int NOT NULL AUTO_INCREMENT,
  `marque` varchar(100) NOT NULL,
  `modele` varchar(100) NOT NULL,
  `energie` varchar(30) NOT NULL,
  `proprietaire_id` int NOT NULL,
  `couleur` varchar(50) DEFAULT NULL,
  `immatriculation` varchar(30) DEFAULT NULL,
  `nb_places` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_292FFF1D76C50E4A` (`proprietaire_id`),
  CONSTRAINT `FK_292FFF1D76C50E4A` FOREIGN KEY (`proprietaire_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicule`
--

LOCK TABLES `vehicule` WRITE;
/*!40000 ALTER TABLE `vehicule` DISABLE KEYS */;
INSERT INTO `vehicule` VALUES (1,'Peugeot','208','Essence',5,'Gris','AA-208-PG',5),(2,'Renault','Clio','Diesel',6,'Bleu','CL-456-RD',5),(3,'Tesla','Model 3','Electrique',7,'Blanc','EV-300-TS',5),(4,'Renault','Clio','Essence',5,'Rouge','AB-123-CD',4);
/*!40000 ALTER TABLE `vehicule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'r0gtoapeyoutj6hr'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-13 22:32:33
