@use "../variables" as *;

.bloc-contact {
    background: $color-primary;
    border-radius: $radius-lg;
    padding: 2rem;
}

.bloc-contact .label-auth,
.titre-bloc-contact {
    color: $color-text-dark;
}

.bloc-contact textarea.form-control,
.bloc-contact .form-select,
.bloc-contact .form-control {
    color: $color-text-dark;
}