@use "../variables" as *;

#creer-trajet-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#creer-trajet-form .form-control,
#creer-trajet-form .form-select {
    width: 100%;
}

#creer-trajet-form .btn {
    margin-top: 0.5rem;
}

#creer-trajet-form .zone-suggestions {
    z-index: 1000;
    display: none;
    top: 100%;
    left: 0;
}