/* ==========================================================
   VARIABLES GLOBALES ECO RIDE
   ========================================================== */

/* Couleurs principales */
$black: #0b0b0b;
$dark: #1a1a1a;
$primary: #5BE37D;

/* Typographie */
$font-family-serif: "Georgia", serif;

/* Ombres & arrondis */
$radius: 10px;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);