.table-style h2 {
    color: $white;
    font-family: $font-title;
    font-weight: 600;
    text-shadow: none;
}

.table-center {
    width: 100%;
    overflow-x: auto;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.table-style {
    width: 50%;
    min-width: 600px;
    background-color: #8fd19e;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}