/* frontend/assets/scss/components/_hero.scss */

.hero-scene {
    background: url(../Images/Fondresize.jpg) center center/cover;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
}

.hero-scene-content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0 1rem;
}

@media screen and (max-width: 576px) {
    .hero-scene-content h1 {
        font-size: 1.5rem;
    }
}