.navbar-brand,
.nav-link {
    color: $primary !important;
    font-family: $font-title;
}

.navbar-brand {
    font-size: 30px;
    font-weight: 700;
}

.navbar .nav-link:hover {
    color: lighten($primary, 8%) !important;
}