body {
    font-family: $font-main;
    background-color: $dark;
    color: $primary;
}

main {
    min-height: 80vh;
    background-color: $dark;
}

a {
    text-decoration: none;
    color: $primary;
}

h1,
h3,
h4,
h5,
h6,
p {
    color: $primary;
}