$primary: #8fe3a2;
$secondary: #6c757d;
$dark: #1f2b34;
$light: #f8f9fa;
$white: #ffffff;
$black: #000000;

$font-main: "Roboto", sans-serif;
$font-title: "Hind Madurai", serif;
$radius-main: 12px;
$shadow-main: 0 4px 10px rgba(0, 0, 0, 0.08);